:root {
    --background: rgb(37, 59, 63);
    --background-content: rgb(18, 26, 28);
    --color-secundario: #87b3b3; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.logo{
    color:white;
}

.content {
    height: auto;
    width: auto;
}

/* navigation styles start here */

header {
    background: var(--background-content);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
}

/* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    padding-top: 15px;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #d2d2d2;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo{
    margin-top: 1rem;
}

.introduction{
    text-align: center;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
}

.img-perfil-container img{
    max-width: 250px;
    max-height: 290px;
    border-radius: 50px;
    border: 7px solid var(--color-secundario);
}

.section{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-section{
    /* background: var(--background-content); */

    /* background-color: #121A1C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23121A1C' width='11' height='11'/%3E%3Crect fill='%23121a1c' x='10' width='11' height='11'/%3E%3Crect fill='%23131a1c' y='10' width='11' height='11'/%3E%3Crect fill='%23131b1d' x='20' width='11' height='11'/%3E%3Crect fill='%23131b1d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23131b1d' y='20' width='11' height='11'/%3E%3Crect fill='%23141b1d' x='30' width='11' height='11'/%3E%3Crect fill='%23141c1d' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23141c1e' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23151c1e' y='30' width='11' height='11'/%3E%3Crect fill='%23151c1e' x='40' width='11' height='11'/%3E%3Crect fill='%23151c1e' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23151d1e' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23161d1f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23161d1f' y='40' width='11' height='11'/%3E%3Crect fill='%23161d1f' x='50' width='11' height='11'/%3E%3Crect fill='%23171d1f' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23171e1f' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23171e20' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23171e20' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23181e20' y='50' width='11' height='11'/%3E%3Crect fill='%23181f20' x='60' width='11' height='11'/%3E%3Crect fill='%23181f20' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23191f21' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23191f21' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23191f21' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23192021' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%231a2021' x='70' width='11' height='11'/%3E%3Crect fill='%231a2022' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%231a2022' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%231b2122' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%231b2122' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%231b2122' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%231b2123' x='80' width='11' height='11'/%3E%3Crect fill='%231c2123' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%231c2223' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%231c2223' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%231d2223' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%231d2224' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%231d2324' x='90' width='11' height='11'/%3E%3Crect fill='%231d2324' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%231e2324' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%231e2324' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%231e2325' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%231f2425' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%231f2425' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%231f2425' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%231f2426' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23202526' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23202526' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23202526' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23212526' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23212527' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23212627' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23222627' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23222627' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23222627' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23222728' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23232728' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23232728' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    background-color: #121A1C;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='600' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230f1819' fill-opacity='0.46'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.46'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");

}

.secondary-section {
    background-color: #D2E4EB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%233B5B8A' stroke-width='1.1' stroke-opacity='0.1' %3E%3Ccircle fill='%23D2E4EB' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23d4e5ec' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23d7e7ed' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d9e8ee' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23dbe9ef' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23deeaef' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23e0ecf0' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e3edf1' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23e5eef2' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23e7f0f3' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23eaf1f4' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23ecf2f5' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23eef4f6' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23f1f5f6' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23f3f6f7' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23f5f7f8' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23f8f9f9' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FAFAFA' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 150vh;
}

.large-text #nombre{
    font-weight: 600;
    font-size: 30px;
    color: white;
}


.saludo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: monospace;
}

.saludo h1{
    color: white;
    margin-right: 10px;
}

.saludo span{
    display: inline-block;

    font-weight: normal;
    color: var(--color-secundario);
    white-space: nowrap;
    border-right: 3px solid;
    width: 13ch;
    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink{
    50% { border-color: transparent }
}

.small-text{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.small-text .home-description{
    margin-top: 5px;
}

.btn-cv{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    text-decoration: none;
    width: 230px;
    height: 70px;
    border-radius: 20px;
    background: #425959;
    transition: .3s all;
    /* background-color: var(--color-secundario); */
}

.btn-cv:hover{
    background: var(--color-secundario);
    transition: .3s all;
}

.about-section{
    height: 100%;
}

.about-card{
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 10px 10px 10px 10px;
    color: black;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px;
}

.about-card .img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card img{
    /* display: flex;
    justify-content: center; */
    height: 20em;
    width: 15em;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}

.about-card-header{
    margin-top: 25px;
    text-align: center;
}

.about-me{
    align-self: center;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.about-me-description a{
    text-decoration: none;
    color: rgb(59, 91, 138);
    font-weight: bold;
    transition: .2s;
}

.about-me-description a:hover{
    text-decoration: none;
    color: var(--color-secundario);
    font-weight: bold;
    transition: .2s;
}

.aptitud-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-element{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aptitud{
    background: #3b5b8a;
    border-radius: 10px;
    color: #FAFAFA;
    padding: 15px;
}

.aptitud .emoji {
    font-size: 2rem;
}

.aptitud h3{
    margin-bottom: 5px;
}

/* .about-card img{
    height: 300px;
    width: 200px;
} */

.top-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    /* background-color: #121A1C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23253B3F'/%3E%3Cstop offset='1' stop-color='%23121A1C'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%232A3D42' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232A3D42' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
}

.formacion-wrapper{
    display: block;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

.formacion-text{
    display: block;
    text-align: center;
    height: fit-content;
}

.formacion-text h1{
    font-size: 36px;
}

.formacion-text p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: lighter;
}

.formacion-container{
    margin-top: 50px;
}

.formacion-item{
    width: 100%;
    padding: 20px;
}

.formacion-item h1{
    text-align: center;
}


.timeline{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.outer {
    border-left: 2px solid #333;
    width: 500px;
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    /* background: transparent; */
    color: white;
    max-width: 500px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: var(--color-secundario);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--color-secundario);
    border-radius: 999px;
    left: -41px;
    /* border: 3px solid var(--color-secundario); */
}

.conocimientos-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 25px;
    width: auto;
}

.conocimientos-container{
    border: 3px solid var(--color-secundario);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    grid-template-rows: 1fr;
    padding: 25px;
    height: 100%;
    width: auto;
    /* background: #7dc8d7; */
}


.conocimientos-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

.conocimientos-element span{
    margin-bottom: -10px;
    background: var(--background-content);
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    /* font-size: 18px; */
    /* border-radius: 25px; */
}

.conocimientos-container img{
    justify-self: center;
    max-width: 100%;
    /* width: 100%; */
    /* max-height: 100px; */
}

.img-horizontal {
    max-width: calc(100% + 5%) !important;
}

.img-vertical {
    max-width: 50px !important;
}

.conocimientos-grid {
    margin-left: -25px;
    margin-right: -25px;
}

@media screen and (min-width: 1300px){
    .conocimientos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 20px;
        margin-top: 25px;
        /* padding-left: 50px;
        padding-right: 50px; */
    }
}

@media screen and (min-width: 1000px) {
    
    .conocimientos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 25px;
        /* padding-left: 50px;
        padding-right: 50px; */
    }

    .about-section{
        height: auto;
        padding: 50px;
    }

    .about-card-header{
        margin-bottom: 15px;
        margin-top: 10px;
        margin-right: 80px;
    }

    .about-card{
        height: 55rem;
        width: 75rem;
        display: block;
        border: 4px solid var(--background);
        justify-content: space-evenly;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        /* padding-right: 80px; */
        /* padding-left: 0px; */
    }

    .container-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-card img{
        height: 27em;
        width: 20em;
    }

    .about-me{
        width: 25em;
        font-size: 20px;
        margin-top: 0px;
        margin-right: 80px;
    }

    .aptitud-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 900px) {
    
    .small-text{
        display: flex;
        justify-content: center;
    }

    .small-text span{
        border-left: 2px solid var(--color-secundario);
        margin-left: 15px;
        margin-right: 15px;
        /* border-right: 2px solid white;  */
    }

    .large-text #nombre{
        font-size: 36px;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        position: fixed;
    }

    .logo {
        position: relative;
        margin-right: 50px;
        cursor: pointer;
        margin-top: 0;
    }

    nav {
        /* Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */

        /* grid-column: 3 / 4; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        /* margin-right: 50px; */
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: #7dc8d7;
        position: absolute;
        top: 1.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 200ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 550px){
    .conocimientos-container img{
        justify-self: center;
        max-width: 80px;
        /* width: 100%; */
        max-height: 100px;
    }
    
    .img-horizontal {
        max-width: 120px !important;
        max-height: 120px !important;
    }
}

html{
    scroll-behavior: smooth;
}