:root {
    --background: rgb(37, 59, 63);
    --background-content: rgb(18, 26, 28);
    --color-secundario: #87b3b3; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.logo{
    color:white;
}

.content {
    height: auto;
    width: auto;
}

/* navigation styles start here */

header {
    background: var(--background-content);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
}

/* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    padding-top: 15px;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #d2d2d2;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo{
    margin-top: 1rem;
}

.introduction{
    text-align: center;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.img-perfil-container img{
    width: 270px;
    height: 300px;
    border-radius: 50px;
    border: 7px solid var(--color-secundario);
}

.section{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-section{
    background: var(--background-content);

}

.secondary-section {
    background: #d2e4eb;
    height: 150vh;
}

.large-text #nombre{
    font-weight: 600;
    font-size: 30px;
    color: white;
}


.saludo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: monospace;
}

.saludo h1{
    color: white;
    margin-right: 10px;
}

.saludo span{
    display: inline-block;

    font-weight: normal;
    color: var(--color-secundario);
    white-space: nowrap;
    border-right: 3px solid;
    width: 13ch;
    animation: typing 2s steps(13), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink{
    50% { border-color: transparent }
}

.small-text{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.small-text .home-description{
    margin-top: 5px;
}

.about-section{
    height: 100%;
}

.about-card{
    height: 100%;
    width: 100%;
    background: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 5px 5px;
    color: black;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px;
}

.about-card .img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card img{
    /* display: flex;
    justify-content: center; */
    height: 20em;
    width: 15em;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}

.about-card-header{
    margin-top: 25px;
    text-align: center;
}

.about-me{
    align-self: center;
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

.aptitud-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.grid-element{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aptitud{
    background: #3b5b8a;
    border-radius: 10px;
    color: #FAFAFA;
    padding: 15px;
}

.aptitud .emoji {
    font-size: 2rem;
}

.aptitud h3{
    margin-bottom: 5px;
}

/* .about-card img{
    height: 300px;
    width: 200px;
} */

.top-section{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
}

.formacion-wrapper{
    display: block;
    justify-content: center;
    width: 100%;
}

.formacion-text{
    display: block;
    text-align: center;
    height: fit-content;
}

.formacion-text h1{
    font-size: 36px;
}

.formacion-text p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: lighter;
}

.formacion-container{
    margin-top: 50px;
}

.formacion-item{
    width: 100%;
    padding: 20px;
}

.formacion-item h1{
    text-align: center;
}


.timeline{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.outer {
    border-left: 2px solid #333;
    width: 500px;
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    /* background: transparent; */
    color: white;
    max-width: 500px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Title of the card */
.title {
    color: var(--color-secundario);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--color-secundario);
    border-radius: 999px;
    left: -41px;
    /* border: 3px solid var(--color-secundario); */
}

.conocimientos-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 25px;
    width: auto;
}

.conocimientos-container{
    border: 3px solid var(--color-secundario);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    grid-template-rows: 1fr;
    padding: 25px;
    height: 100%;
    width: auto;
    /* background: #7dc8d7; */
}


.conocimientos-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

.conocimientos-element span{
    margin-bottom: -10px;
    background: var(--background-content);
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    /* font-size: 18px; */
    /* border-radius: 25px; */
}

.conocimientos-container img{
    justify-self: center;
    max-width: 80px;
    width: 100%;
    max-height: 100px;
}

@media screen and (min-width: 1300px){
    .conocimientos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 20px;
        margin-top: 25px;
        /* padding-left: 50px;
        padding-right: 50px; */
    }
}

@media screen and (min-width: 1000px) {
    
    .conocimientos-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 25px;
        /* padding-left: 50px;
        padding-right: 50px; */
    }

    .about-section{
        height: auto;
        padding: 50px;
    }

    .about-card-header{
        margin-bottom: 15px;
        margin-top: 10px;
        margin-right: 80px;
    }

    .about-card{
        height: 55rem;
        width: 75rem;
        display: block;
        border: 5px solid var(--background);
        justify-content: space-evenly;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        /* padding-right: 80px; */
        /* padding-left: 0px; */
    }

    .container-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-card img{
        height: 27em;
        width: 20em;
    }

    .about-me{
        width: 25em;
        font-size: 20px;
        margin-top: 0px;
        margin-right: 80px;
    }

    .aptitud-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 800px) {
    
    .small-text{
        display: flex;
        justify-content: center;
    }

    .small-text span{
        border-left: 2px solid var(--color-secundario);
        margin-left: 15px;
        margin-right: 15px;
        /* border-right: 2px solid white;  */
    }

    .large-text #nombre{
        font-size: 36px;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        /* position: fixed; */
    }

    .logo {
        position: relative;
        margin-right: 50px;
        cursor: pointer;
        margin-top: 0;
    }

    nav {
        /* Edge support */
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */

        /* grid-column: 3 / 4; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
        /* margin-right: 50px; */
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 3px;
        background: #7dc8d7;
        position: absolute;
        top: 1.5em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 200ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

html{
    scroll-behavior: smooth;
}